
.todo-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

/*.todo-list li .destroy:hover {*/
/*    color: #af5b5e;*/
/*}*/


.todo-list li .destroy:after {
    content: '×';
}

.toggle {
    width: 60px;
}

.todo-list li .destroy {
    display: none;
    position: absolute;
    top: 0;
    right: 10px;
    bottom: 0;
    width: 40px;
    height: 40px;
    margin: auto 0;
    font-size: 30px;
    color: #cc9a9a;
    margin-bottom: 11px;
    transition: color 0.2s ease-out;
}

.todo-li {
    display: flex;
    height: 50px;
    align-items: stretch;
    justify-content: flex-start;
    position: relative;
    font-size: 24px;
    border-bottom: 1px solid #ededed;
}
.div-todo-item{
    display: flex;
    align-items: stretch;
    width: 90%;
}


.todo-title {
    padding-left: 50px;
    align-items: center;
    display: flex;
}

.destroy {
    margin: 0;
    padding: 0;
    border: 0;
    background: none;
    font-size: 100%;
    vertical-align: baseline;
    font-family: inherit;
    font-weight: inherit;
    color: inherit;
    -webkit-appearance: none;
    appearance: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.destroy:active, .destroy:focus{
    outline: none;
}
.todo-li .destroy:hover {
    color: #af5b5e;
}
.todo-li .destroy:after {
    content: "×";
}
.todo-li:hover .destroy {
    display: block;
}
.input-todo-item{
    width: 85%;
    outline: none;
    border: none;
    font-size: 24px;
}
.input-todo-item-edit {
    width: 85%;
    color: dimgrey;
    outline: 1px solid black;
    border: none;
    font-size: 24px;
}






